.header {
  display: flex;
  flex-direction: row;
  background-color: bisque;
  padding-left: 50px;
  box-shadow: 0 8px 6px -6px grey;
  height: 70px;
}

.category {
  padding-left: 30px;
  color: rgb(37, 23, 23);
  cursor: pointer;
}

.category:hover {
  font-size: 20px;
  font-weight: bold;
}

.title {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 25px;
  padding-right: 800px;
  color: rgb(37, 23, 23);
}
